{% extends 'base.html' %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">AppName</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active"><a class="nav-link" href="/">{{username}}</a></li>
          <li class="nav-item active"><a class="nav-link" href="/exit">Exit</a></li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block body %}
<h3>Select Menu</h3>
    <hr>
     <form action="/selectMenu" method="POST">
        <div class="form-group">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Menu Name</th>
                  <th scope="col">Content</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>First Menu Name</td>
                  <td>First Content</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Second Menu Name</td>
                    <td>Second Content</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Third Menu Name</td>
                    <td>Third Content</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Fourth Menu Name</td>
                    <td>Fourth Content</td>
                  </tr>
              </tbody>
            </table>
            </div>
            <h3>Add Extras</h3>
            <hr>
            <div class="form-group">
                <input type="checkbox" class="form-check-input" name="ekstra" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Ekstra 1</label>
                <input type="checkbox" class="form-check-input" name="ekstra" id="exampleCheck2">
                <label class="form-check-label" for="exampleCheck1">Ekstra 2</label>
            </div>
            <hr>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}